/* Place your CSS styles in this file */

@import url('https://fonts.googleapis.com/css?family=Roboto:400|Roboto+Slab:400');

html {font-size: 100%;} /*16px*/

body {
  background: #121212;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #ccc;
}

* {
  margin: 0;
  padding: 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
	height: 100px; 
}

.flex-item-left {
  flex: 25%;
	  text-align: left;
}

.flex-item-center {

  flex: 50%;
	  text-align: left;
}

.flex-item-right {
  flex: 25%;
	  text-align: left;
}
/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.grid-container > div {
  text-align: center;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 4.209rem;
}

h2 {font-size: 3.157rem;}

h3 {font-size: 2.369rem;}

h4 {font-size: 1.777rem;}

h5 {font-size: 1.333rem;}

small, .text_small {font-size: 0.75rem;}

a {
  color: #ccc;
 
}
a:hover {
text-decoration:none;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px;
  flex-wrap: wrap;
}

nav li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
}
nav li a {
  text-decoration: none;
  font-size: 20px;
  color: #ccc;
  transition: all 0.3s ease 0s;
}
nav li a:hover {
  color: red;
}
.language{
  margin-right: auto;
}
.active{
  border: 2px solid #ccc;
}
.content {
  max-width: 650px;
  margin: auto;
  background: #121212 ;
  padding: 10px;
}
.content-resources {
  max-width: 800px;
  margin: auto;
  background: #121212 ;
  padding: 10px;
}

img {
	display: block;
	width: 100%;
}

@media (min-width: 50em) {
}

.cta {
  display: flex;
  flex-wrap: wrap;
  max-width: 50rem;
  width: 100%;
  overflow: hidden;
	padding: 40px;
  border-bottom: 2px solid #ccc;
}

.cta img {
	aspect-ratio: 3 / 2;
	object-fit: cover;
	flex: 1 1 300px;
}

.cta__text-column {
	padding: min(2rem, 5vw) min(2rem, 5vw) min(2.5rem, 5vw);
	flex: 1 0 50%;
}

.cta a {
	display: inline-block;
	color: #ccc;
	padding: 0.5rem 1rem;
	text-decoration: none;
	font-weight: 700;
}

.cta a:hover {
	color: red;

}

.button {
  border: 2px solid #ccc;
  color:#ccc;
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.333rem;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  border: 2px solid #121212;
  color:#121212;
 background-color: #ccc;
}
